

@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;500;600;700;800&display=swap');

.quiz{
  /* background: linear-gradient(90.04deg, #800080 0.03%, #ffc0cb 99.96%); */
  color: #11052c;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 30px 30px;
  
  align-items: center;
  
}

.quiz-container {
  width: 900px; 
  /* min-width: 250px; */
  background: linear-gradient(135deg,#020381 0%,#2874fc 100%);
  border-radius: 30px;
  margin-top: 100px;
  padding: 30px 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.quiz-container .active-question-no {
  font-size: 32px;
  font-weight: 500;
  color: white;
  
}

.quiz-container .total-question {
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.quiz-container h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.quiz-container ul {
  margin-top: 20px;
  margin-left: -40px;
}

.quiz-container ul li {
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 16px;
  background: linear-gradient(135deg,#020381 0%,#2874fc 100%);
  border: 1px solid #eaeaea;
  border-radius: 16px;
  padding: 11px;
  margin-top: 15px;
  cursor: pointer;
}

.quiz-container ul .selected-answer {
  background: linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);
  border: white;
}

.quiz-container button {
  background: linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);
  border-radius: 9px;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 42px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.quiz-container button:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.result h3 {
  font-size: 24px;
  letter-spacing: 1.4px;
  text-align: center;
}

.result p {
  font-size: 16px;
  font-weight: 500;
}

.result p span {
  color: rgb(23,78,166);
  font-size: 22px;
}

.quiz-container .question{
  color:white;
}



.result .result-heading {
  color: white;
  margin-bottom: 20px; 
  text-align: center;
 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.result .marks{
  color:white;
  text-align: center;
  
}

.result .score{
  color:white;
}
.result {
  height: 220px;
  display: flex;
  justify-content: space-around; 
  align-items: center; 
}

.result .box-result {
  border-radius: 50%; 
  width: 165px;
  height: 165px;
  border: 2px solid white;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
}
